.App {
  text-align: center;
}
.App > h1 {
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App > h2 {
  font-size: 8rem;
  font-weight: 200;
}

@media screen and (max-width: 490px) {
  .App > h2 {
    font-size: 3rem;
  }
}
